body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #fff 50%, black 50%);
}



.contenedor__verificar {
    display: flex;
    height: 100vh;
}

.contenedor__tabla {
    margin: auto;
    width: 1000px;
}

.contenedor__tabla > h2 {
    text-align: center;
    background: rgb(71, 71, 71);
    color: white;
    padding: 10px;
}

table {
    border: 1px solid grey;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: rgb(71, 71, 71);
}

tbody {
    background: rgb(192, 190, 190);
}


tr:nth-child(even) {
    background-color: #dddddd;
}

th, td {
    padding: 15px;
}

th {
    color: white;
}

.boton1, .boton2 {
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.boton1 {
    background-color: #4CAF50;
}

.boton2 {
    background-color: #f44336;
}